<div nz-row>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="anticon anticon-right-circle-o"></i>运行</button>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="anticon anticon-pause-circle-o"></i>停止</button>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="anticon anticon-save"></i>保存</button>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="anticon anticon-check-circle-o"></i>提交</button>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="iconfont icon-format-align-left"></i>格式化</button>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button [nzType]="'primary'"><i class="iconfont icon-inspection"></i>代码检查</button>
  </div>
</div>
<div nz-row style="width:1000px;z-index: 9999;height: 1000px" class="lineSpacing">
  <ngx-codemirror #codeEditor [(ngModel)]="code" [options]="cmOptions"></ngx-codemirror >
</div>
